---
layout: default
---

<main class="container">
    <div class="p-4 p-md-5 mb-4 text-center rounded bg-transaparent">
          <h1 class="display-3">welcome to <i>qnods</i></h1>
          <p class="lead my-3">A collection of data science and code related notes written by Edward Joesoef.</p>
    </div>
    <h2>Latest Posts</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for post in site.posts limit:12 %}
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title"><a href="{{ site.url }}{{ post.url | relative_url }}">{{post.title}}</a></h4>
            <p>
              {% if post.tags.size > 0 %}
                {{ post.tags | sort | join: " " }}
              {% endif %}
            </p>
            <p class="card-text">{{ post.excerpt }}</p>
          </div>
          <div class="card-footer">
            <small class="text-muted postDate">written on {{ post.date | date: "%d %B %Y" }}</small>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
</main>